body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #aa80f3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #aa80f3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #aa80f3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

button {
  display: none;
}

div {
  background-color: #aa80f3;
  color: #fff;
}
